/.TinyTeX
/.Xauthority
/.Xdefaults
/.Xresources
/.authinfo
/.*_history
/.cache/
/.cargo
/.conda
/.condarc
/.config/wslu
/.dbus/
/.deno
/.doit-secret
/.doitrc
/.emacs.d
!/.emacs.d/custom.el
!/.emacs.d/gpk
!/.emacs.d/init.el
!/.emacs.d/packages
!/.emacs.d/snippets
/.fontconfig/
/.fonts/
/.github/
/.gnupg/
/.hunspell_en_GB
/.inputrc
/.ipython/
/.java
/.julia/
/.jupyter
/.landscape/
/.lesshst
/.lmod.d/
/.local
/.motd_shown
/.mozilla
/.ncbi
/.nfcore
/.npm/
/.pki/
/.python-eggs/
/.rstudio
/.secrets
/.singularity
/.ssh
!/.ssh/config
!/.ssh/id_rsa.pub
/.sudo_as_admin_successful
/.tmux-powerlinerc
/.tmux.babs*.sessions.sh
/.tmux.conf
/.viminfo
/.wget-hsts
/R/
/bin
/micromamba
